.activity-complete button{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-size: large;
    color: blue;
    font-weight: bold;
    border: none;
}
.activity-complete button:hover{
    background-color: blue;
    color: #ffffff;
    border: none;
}