.profile{
    margin: 20px;
    position: sticky;
    top: 0;
}
.user-info{
    display: flex;
    align-items: center;
}

.user-info h6, h4{
    margin: 0;
    margin-left: 10px;
}
.user-info img{
    height: 55px;
    width: 60px;
    border-radius: 50px;
}

.user-details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
}

.user-details h3,p{
    margin: 0;
}

.add-a-break{
    background-color: #000000;
    border-radius: 10px;
    padding: 12px;
}

.add-a-break button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #ffffff;
}

.add-a-break button:hover{
    background-color: blue;
    color: #ffffff;
}

.exercise-time{
    background-color: #000000;
    padding: 20px 20px 20px 0;
    border-radius: 10px;
}

.break-time{
    background-color: #000000;
    padding: 20px 20px 20px 0;
    border-radius: 10px;
}

.activity-complete button{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-size: large;
    color: blue;
    font-weight: bold;
    border: none;
}
.activity-complete button:hover{
    background-color: blue;
    color: #ffffff;
    border: none;
}